<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="Сайт для девочек на 8 марта">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="keywords" content="Девочки, 8 марта, девки, сосочки, любимие, с восьмым марта, уху, мы крутые, ставьте лайк">
		<!-- Title -->
		<title>{% block title %} {% endblock %}</title>
		<!-- CSS  -->		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mdb.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css')}}">
		<!-- Favicons -->
		<link rel="icon" href="{{ url_for('static', filename='css/favicon.ico')}}" type="image/x-icon">
	</head>
    <body>
        {% block content %} {% endblock %}
        
        <!-- Contact-area End -->
		<!-- Footer-area Start -->
		<footer>
			<div class="footer-area">
				<div class="container">
					<div class="footer-contact">
						<div class="row">
							<div class="col-md-4">
								<div class="footer-contact-info">
									<div class="footer-contact-icon"><i class="fa fa-phone white-text fa-2x"></i></div>
									<div class="footer-contact-content">
										<h5>Номер</h5>
										<p>+(373) 60712727</p>
									</div>
								</div>
							</div>
							<!-- col-md-4 -->
							<div class="col-md-4">
								<div class="footer-contact-info">
									<div class="footer-contact-icon"><i class="fa fa-map-marker white-text fa-2x"></i></div>
									<div class="footer-contact-content">
										<h5>Адрес</h5>
										<p>Bulevardul Dacia 47, Chișinău, Молдова</p>
									</div>
								</div>
							</div>
							<!-- col-md-4 -->
							<div class="col-md-4">
								<div class="footer-contact-info">
									<div class="footer-contact-icon"><i class="fa fa-envelope white-text fa-2x"></i></div>
									<div class="footer-contact-content">
										<h5>Почта:</h5>
										<p>djsanchess2005@gmail.com</p>
									</div>
								</div>	
							</div>
							<!-- col-md-4 -->
						</div>
					
				</div>
				<div class="row">
						<div class="col-lg-6 col-md-8">
							<p class="copyright">Copyright&copy; 2022  - Punch'n Poncho.</p>
						</div>
					</div>
				<!-- container -->
			</div>
			<!-- footer-area -->
		</footer>

        <script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js')}}"></script> 
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/mdb.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
  
    </body>
</html>
