{% extends 'base.html' %}

{% block title %} Jeroglifico {{ quest["id"] }} {% endblock %}

{% block content %}
	<div class="header-area quest"  id="home">
		<div class="container">
			<div class="row">
				<div class="header-content">
					<img style="max-width: 100%;" src="{{ url_for('static', filename=quest['url'])}}" alt="ребус №..">
				</div>
			</div>
		</div>
		<!-- container -->
	</div>
	<div class="contact-area" id="contact">
		<div class="container">
			<div class="section-title text-center">
				<h2>Введи свой ответ</h2>
			</div>
			<div class="shape"></div>
			<div class="row">
				<!--Grid column-->
				<div class="col-md-12 mb-md-0 mb-5">
					<form id="contact-form" name="contact-form" method="POST">
						<div class="row">
							<!--Grid column-->
							<div class="col-md-12">
								<div class="md-form">
									<textarea id="message" name="message" rows="1" class="form-control md-textarea"></textarea>
									<!-- <input id="message" name="message" rows="1" class="form-control md-textarea"> -->
									<label for="message"">Введите текст</label>
								</div>
							</div>
						</div>

						<div class="text-center text-md-left">
							<div class="btn btn-md btn-pink waves-effect waves-light">
								<input type="submit" value="Submit" class="btn btn-md btn-pink waves-effect waves-light">
							</div>
						</div>
					</form>
					
				</div>

			</div>
		</div>
		<!-- container -->
	</div>
{% endblock %}
